<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p style="color:red" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>

        <label for="name">Enter name: </label>
        <input id="name" th:field="*{name}" type="text">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <label for="author">Enter author: </label>
        <input id="author" th:field="*{author}" type="text">
        <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        <br>
        <label for="year">Enter year: </label>
        <input id="year" th:field="*{year}" type="text">
        <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
        <br>
        <input type="submit" value="edit">
    </form>
</body>
</html>